.container{
    max-width: 1400px;
    /* border: 1px solid rgba(128, 128, 128, 0.349); */
    width: 100%;
    margin: auto;
}
/* header  */


/* Home style */
.login  input{
    display: block;
}
.Home_heading{
    line-height: 1.3;
}
@media screen and (max-width : 768px) {
    html{
        font-size: 12px;
    }
    .container{
        width: 90%;
    }
    .hero{
        margin-top: 2rem;
    }
    .global_eachTag{
        margin-top: 3rem;
    }
    .article{
        width: 100%;
        padding: 1rem 0;
    }
    .pagination{
        width: 100%;
    }
}